<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ChatGPT (with HTML, CSS, and JavaScript)</title>
<link rel="stylesheet" href="static/style.css" />
</head>
<body>
  <section class="sidebar">
      <button id="newChat">New chat</button>
      <div class="history"></div>
      <nav>
          <p>made by achrafhajjar</p>
      </nav>
  </section>
  <section class="main">
      <h1>Test_GPT</h1>
      <div id="output"></div>
      <div class="bottom-section">
          <div class="input-container">
              <input id="userInput" type="text" placeholder="Send a message"/>
              <div id="submit">➢</div>
          </div> 
          <p class="info">test_GPT: A simple chatbot clone developed by achrafhajjar using HTML, CSS, and JavaScript.</p>
      </div>  
  </section>
  <script src="static/script.js"></script>
</body>
</html>
